<!-- <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu> -->

<div class="card">
    <p-button icon="pi pi-external-link" label="Add Project" routerLink="createProject" class="create"></p-button>

    <!-- Basic Data -->
    <p-tabView styleClass="tabview-custom">

        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-fw pi-home"></i>
                <span style="margin-left: 10px;">Basic Data</span>
            </ng-template>

            <div class="card">
                <p-table #dt1 [value]="projects" dataKey="id" [rows]="10" [paginator]="true" stateStorage="session"
                    stateKey="statedemo-session">
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th pSortableColumn="code" >Project Code  <p-sortIcon field="code"></p-sortIcon></th> -->
                            <th pSortableColumn="projectName" style="font-size: 12px;">Project Name <p-sortIcon
                                    field="projectName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="type" style="font-size: 12px;">Project Type <p-sortIcon field="type">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="organizationName" style="font-size: 12px;">Organization<p-sortIcon
                                    field="organizationName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="projectCode" style="font-size: 12px;">project Code<p-sortIcon
                                    field="projectCode"></p-sortIcon>
                            </th>

                            <th pSortableColumn="startDate" style="font-size: 12px;">Start Date <p-sortIcon
                                    field="startDate"></p-sortIcon>
                            </th>
                            <th pSortableColumn="endtDate" style="font-size: 12px;">End Date <p-sortIcon
                                    field="endtDate"></p-sortIcon>
                            </th>
                            <th>Operations</th>



                        </tr>
                        <tr>
                            <!-- <th>
                            <input pInputText type="text" (input)="dt1.filter($event.target.value, 'code', 'contains')" [value]="dt1.filters['code']?.value" placeholder="Search by Code" class="p-column-filter">
                        </th> -->
                            <th>
                                <input pInputText type="text" style="width: 100%;"
                                    (input)="dt1.filter($event.target.value, 'projectName', 'contains')"
                                    [value]="dt1.filters['projectName']?.value" placeholder="Search by ProjectName"
                                    class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" style="width: 100%;"
                                    (input)="dt1.filter($event.target.value, 'type', 'contains')"
                                    [value]="dt1.filters['type']?.value" placeholder="Search by type"
                                    class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" style="width: 100%;"
                                    (input)="dt1.filter($event.target.value, 'organizationName', 'contains')"
                                    [value]="dt1.filters['organizationName']?.value"
                                    placeholder="Search by organizationName" class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" style="width: 100%;"
                                    (input)="dt1.filter($event.target.value, 'projectCode', 'contains')"
                                    [value]="dt1.filters['projectCode']?.value" placeholder="Search by projectCode"
                                    class="p-column-filter">
                            </th>

                            <th>
                                <input pInputText type="text" style="width: 100%;"
                                    (input)="dt1.filter($event.target.value, 'startDate', 'contains')"
                                    [value]="dt1.filters['startDate']?.value" placeholder="Search by startDate"
                                    class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" style="width: 100%;"
                                    (input)="dt1.filter($event.target.value, 'startDate', 'contains')"
                                    [value]="dt1.filters['startDate']?.value" placeholder="Search by startDate"
                                    class="p-column-filter">
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-project>
                        <tr [pSelectableRow]="project">
                            <td>
                                <span class="p-column-title"></span>
                                {{project.projectName}}
                            </td>
                            <!-- <td>
                            <span class="p-column-title"></span>
                            <span class="image-text">{{project.projectCode}}</span>
                        </td> -->
                            <td>
                                <span class="p-column-title"></span>
                                <!-- <img [alt]="customer.representative.name" src="assets/showcase/images/demo/avatar/{{customer.representative.image}}" width="32" style="vertical-align: middle" /> -->
                                <span class="image-text">{{project.projectTypeName}}</span>
                            </td>
                            <td>
                                <span class="p-column-title"></span>
                                <span
                                    [class]="'customer-badge type-' + project.type">{{project.organizationName}}</span>
                            </td>
                            <td>
                                <span class="p-column-title"></span>
                                <span
                                    [class]="'customer-badge type-' + project.projectCode">{{project.projectCode}}</span>
                            </td>
                            <!-- <td>
                            <span class="p-column-title"></span>
                            <span [class]="'customer-badge type-' + project.cost">{{project.cost}}</span>
                        </td> -->
                            <td>
                                <span class="p-column-title"></span>
                                <span
                                    [class]="'customer-badge type-' + project.actualStartDate">{{project.actualStartDate}}</span>
                            </td>
                            <td>
                                <span class="p-column-title"></span>
                                <span
                                    [class]="'customer-badge type-' + project.actualEndDate">{{project.actualEndDate}}</span>
                            </td>
                            <td>
                                <span class="p-button-icon pi pi-pencil" aria-hidden="true"
                                    (click)="showMaximizableDialog(project.id)"></span>
                                <span class="p-button-icon pi pi-times" aria-hidden="true"></span>
                            </td>

                        </tr>
                        <!-- <p-dialog class="data" header={{project.projectName}} [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
                        [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                
                      
                    </p-dialog> -->

                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">No Projects found.</td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
                <!-- <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
                    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                    <p></p>
                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text">
                        </p-button>
                    </ng-template>
                </p-dialog> -->
                <!-- <p-button (click)="showMaximizableDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
                <!-- <p-dialog header="Show Project Data" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p-table [value]="projects" >
                        
        <ng-template pTemplate="header" >
            <tr>
                <th>Project Code</th>
                <th>Project Type</th>
                <th>Client Name</th>
                <th>Client Phone</th>
                <th>Actual Start Date</th>
                <th>Actual End Date</th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
           
            <tr>
                <td>{{project.projectCode}}</td>
                <td>{{project.projectTypeName}}</td>
                <td>{{project.clientName}}</td>
                <td>{{project.clientMobile}}</td>
                <td>{{project.actualStartDate}}</td>
                <td>{{project.actualEndDate}}</td>
                
            </tr>
        </ng-template>
       
    </p-table>
       
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog> -->
                <p-dialog header="Show Project Data" [(visible)]="displayMaximizable" [modal]="true"
                    [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
                    [resizable]="false">

                    <table>
                        <tr>
                            <th>ProjectName</th>
                            <th>projectCode</th>
                            <th>Projectcost</th>
                            <th>clientName</th>
                            <th>clientMobil</th>
                            <th>projectTypeName</th>
                            <th>organizationName</th>
                            <th>projectPeriod</th>
                            <th>planndedStartDate</th>
                            <th>actualStartDate</th>
                            <th>planndedEndDate</th>
                            <th>actualEndDate</th>
                            <th>description</th>
                            <th>Stackholders</th>
                        </tr>
                        <tr>
                            <td class="nameStyle">
                                {{project1.projectName}}
                            </td>
                            <td>
                                {{project1.projectCode}}
                            </td>
                            <td>
                                {{project1.cost}}
                            </td>
                            <td>
                                {{project1.clientName}}
                            </td>
                            <td>
                                {{project1.clientMobil}}
                            </td>
                            <td>
                                {{project1.projectTypeName}}
                            </td>
                            <td>
                                {{project1.organizationName}}
                            </td>
                            <td>
                                {{project1.projectPeriod}}
                            </td>
                            <td>
                                {{project1.planndedStartDate}}
                            </td>
                            <td>
                                {{project1.actualStartDate}}
                            </td>
                            <td>
                                {{project1.planndedEndDate}}
                            </td>
                            <td>
                                {{project1.actualEndDate}}
                            </td>
                            <td>
                                {{project1.actualEndDate}}
                            </td>
                            <td>
                                {{project1.description}}
                            </td>
                            <!-- <td>
                                {{pharmacy.email}}
                            </td> -->
                            <td>
                                <table *ngFor="let i of project1.listOfStackholders">
                                    <tr>
                                        <td style="overflow: hidden;">
                                            {{i.stackeholderName}}
                                            <hr>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <!-- <td style="font-weight: bold;">{{pharmacy.pharmacyType}}</td> -->
                        </tr>
                    </table>

                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok"
                            styleClass="p-button-text"></p-button>
                    </ng-template>
                </p-dialog>
            </div>




        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-user-minus"></i>
                <span style="margin-left: 10px;">Stackholders</span>
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-align-center"></i>
                <span style="margin-left: 10px;">MileStones</span>
            </ng-template>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-users"></i>
                <span style="margin-left: 10px;">Teams</span>
            </ng-template>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <i class="pi pi-file"></i>
                <span style="margin-left: 10px;">Documents</span>
                <!-- <i class="pi pi-cog"></i> -->
            </ng-template>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                atque corrupti quos dolores et quas molestias excepturi sint occaecati
                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
        </p-tabPanel>
    </p-tabView>

</div>