<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>RIS Management</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Setting</p>
      <li class="active">
        <a  data-toggle="collapse" aria-expanded="false" class=" dropdown-toggle">Branches</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a class="nav-link"  routerLinkActive="active"
             >Nationality</a>
          </li>
          <li>
            <a class="nav-link"  routerLinkActive="active" >Branch</a>
          </li>
          <li>
            <a class="nav-link"  routerLinkActive="active" >Branches & Groups</a>
          </li>
          <li>
            <a class="nav-link"  routerLinkActive="active"
             >Governorate</a>
          </li>
          <li>
            <a class="nav-link"  routerLinkActive="active" >City</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Modalities</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a class="nav-link"  routerLinkActive="active" routerLink='admin/group'>Group</a>
          </li> 
          
          <li>
            <a class="nav-link"  routerLinkActive="active" routerLink="admin/modality">Modality</a>
          </li>
          <li>
            <a class="nav-link"  routerLinkActive="active" routerLink='admin/groupmodality'>Groups & Modalities</a>

          </li>
          <li>
            <a class="nav-link"  routerLinkActive="active" routerLink="admin/test">Test</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#usermenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
        <ul class="collapse list-unstyled" id="usermenu">
          <li>
            <a class="nav-link"  routerLinkActive="active" routerLink='admin/users'>Users List</a>
          </li>
        </ul>
      </li>
    </ul>


  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <div class="container-fluid">

        <!-- <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button> -->
        <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <a class="navbar-brand" href="#">
            <img src="../../assets/images/mostakbal.png" class="rounded-circle" style="width: 70px;position: initial;" alt="RIS Image">
          </a>
         
          <ul class="navbar-nav">
            
           
           
            

           

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" >
                Radiologist </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" >
                Patient Files </a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" >
                Reports </a>
            </li>      
           
                
           

          </ul>
        


        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  

  </div>

</div>


