<!-- <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu> -->

<div class="card">

    <!-- Basic Data -->
    <p-tabView styleClass="tabview-custom">

        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-fw pi-home"></i>
                <span style="margin-left: 10px;">Project</span>
            </ng-template>
            <div class="row">
                <div class="p-field col-md-3">
                    <label for="Project Name" class="labelMarginRight">Project Name</label><br>
                    <!--  [(ngModel)]="product.name" -->
                    <input type="text" pInputText id="name" required autofocus />
                    <small class="p-invalid"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Project Code" class="labelMarginRight">Project Code</label><br>
                    <input type="text" pInputText id="Code" required autofocus />
                    <small class="p-invalid"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Project Type" class="labelMarginRight">Project Type</label><br>
                    <input type="text" pInputText id="Type" required autofocus />
                    <small class="p-invalid"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Project Cost" class="labelMarginRight">Project Cost</label><br>
                    <input type="number" pInputText id="Cost" required autofocus />
                    <small class="p-invalid"></small>
                </div>
                <!-- <div class="p-field">
                <label for="description">Description</label>
                <textarea id="description" pInputTextarea  required rows="3" cols="20"></textarea>
            </div>       -->
            </div><br>
            <div class="row">

                <div class="p-field col-md-3">
                    <label for="Project Period" class="labelMarginRight">Project Period</label><br>
                    <input type="number" pInputText id="Period" required autofocus />
                    <small class="p-invalid"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Plannded Start Date" class="labelMarginRight">Plannded Start Date</label><br>
                    <p-calendar  dateFormat="dd.mm.yy"></p-calendar>
                    <small class="p-invalid"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Actual Start Date" class="labelMarginRight">Actual Start Date</label><br>
                    <p-calendar  dateFormat="dd.mm.yy"></p-calendar>
                    <small class="p-invalid"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="Plannded End Date" class="labelMarginRight">Plannded End Date</label><br>
                    <p-calendar  dateFormat="dd.mm.yy"></p-calendar>
                    <small class="p-invalid"></small>
                </div>
            </div> <br>
            <div class="row">
                <div class="p-field col-md-3">
                    <label for="Actual End Date" class="labelMarginRight">Actual End Date</label><br>
                    <p-calendar  dateFormat="dd.mm.yy"></p-calendar>
                    <small class="p-invalid"></small>
                </div>
                <div class="p-field col-md-3">
                    <label for="organization Name" class="labelMarginRight">Organization Name</label><br>
                    <p-dropdown [options]="lstOrganizations" [(ngModel)]="projectObj.organizationId" optionLabel="organizationName" optionValue="id"></p-dropdown>
                </div>
                <div class="p-field col-md-3">
                    <label for="Employee Name" class="labelMarginRight">Employee Name</label><br>
                    <p-dropdown [options]="lstEmployees" [(ngModel)]="projectObj.employeeId" optionLabel="employeeName" optionValue="id"></p-dropdown>
                </div>
                <div class="p-field col-md-3">
                    <label for="Client Name" class="labelMarginRight">Client Name</label><br>
                    <p-dropdown [options]="lstClients" [(ngModel)]="projectObj.clientId" optionLabel="clientName" optionValue="id"></p-dropdown>
                </div>
            </div>
        </p-tabPanel>












        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-user-minus"></i>
                <span style="margin-left: 10px;">Create Stackholders</span>
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-align-center"></i>
                <span style="margin-left: 10px;">Create MileStones</span>
            </ng-template>
         
            


        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-users"></i>
                <span style="margin-left: 10px;">Create Teams</span>
            </ng-template>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <i class="pi pi-file"></i>
                <span style="margin-left: 10px;">Add Document</span>
                <!-- <i class="pi pi-cog"></i> -->
            </ng-template>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                atque corrupti quos dolores et quas molestias excepturi sint occaecati
                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
        </p-tabPanel>
    </p-tabView>

</div>